WebServiceClient/src/META-INF/wsdl/localhost_8080/WebServiceLab/FileUpload.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com/" name="FileUpload">
<types>
<xsd:schema>
<xsd:import namespace="http://com/" schemaLocation="http://localhost:8080/WebServiceLab/FileUpload?xsd=1"/>
</xsd:schema>
</types>
<message name="getFile">
<part name="parameters" element="tns:getFile"/>
</message>
<message name="getFileResponse">
<part name="parameters" element="tns:getFileResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getBooks">
<part name="parameters" element="tns:getBooks"/>
</message>
<message name="getBooksResponse">
<part name="parameters" element="tns:getBooksResponse"/>
</message>
<portType name="FileUpload">
<operation name="getFile">
<input wsam:Action="http://com/FileUpload/getFileRequest" message="tns:getFile"/>
<output wsam:Action="http://com/FileUpload/getFileResponse" message="tns:getFileResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://com/FileUpload/helloRequest" message="tns:hello"/>
<output wsam:Action="http://com/FileUpload/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getBooks">
<input wsam:Action="http://com/FileUpload/getBooksRequest" message="tns:getBooks"/>
<output wsam:Action="http://com/FileUpload/getBooksResponse" message="tns:getBooksResponse"/>
</operation>
</portType>
<binding name="FileUploadPortBinding" type="tns:FileUpload">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FileUpload">
<port name="FileUploadPort" binding="tns:FileUploadPortBinding">
<soap:address location="http://localhost:8080/WebServiceLab/FileUpload"/>
</port>
</service>
</definitions>